body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --title-16px-regular: Poppins;
  --heading-24px-bold: Inter;

  /* font sizes */
  --title-16px-regular-size: 16px;
  --title-12px-medium-size: 12px;
  --title-20px-medium-size: 20px;
  --heading-24px-bold-size: 24px;
  --title-14px-semibold-size: 14px;
  --font-size-lgi: 19px;

  /* Colors */
  --primary: #fff;
  --button: #000;
  --text: #fafafa;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --secondary-2: #db4444;
  --secondary: #f5f5f5;
  --hover-button: #e07575;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-xs: 12px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-4xs: 9px;
  --padding-base: 16px;
  --padding-8xs: 5px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-15xl: 34px;
  --padding-49xl: 68px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-11xs-4: 1.4px;
}
